
body{
    font: 20px Arial, sans-serif;
}


.navbar{
    background-color: #1A374D;
    color: pink;

}

.nav-link{
    background-color: #406882;
    
}


.quem-somos{
    background-color: #406882;
    color: whitesmoke;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: 10px;
}

.parceiros{
    background-color: #6998AB;
    color:whitesmoke
}

#servicos{
    background-color: #406882;
    color: whitesmoke;
}

.bg-footer{
    background-color: #1A374D;
    color: white;
}